/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');
/* Colors */
$main: #0C131E;
$surfaces: #202B3B;
$items: #36404e;
$accent: #F15DC6;
$accent-darker: #d6129d;
$white: #FFFAFA;

body {
    background-color: $main;
    font-family: 'Nunito', sans-serif;
    color: $white;
}

a {
    color: $accent;

    &:visited{
        color: $accent-darker;
    }
}

.weather-app {
    background: $surfaces;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
}

form, input {
    color: $white !important;
}


.search-form {
    width: 100%;
    border-bottom: 1px solid $items;
    
    .search-form-input {
        background-color: $items;
        border: none;
        border-radius: 6px;
        width: 100%;
        font-size: 16px;
        padding: 10px 15px;
        width: 100%;
        margin-bottom: 20px;

        &:focus {
            color: $white;
            border-color: $accent-darker;
        }
    }

    .search-form-button {
        width: 100%;
        background: $accent;
        padding: 10px 15px;
        border: none;
        font-size: 15px;
        border-radius: 6px;
        color: $white;
    }
    
}


main {
    margin-top: 20px;

    .weather-app-city {
        font-weight: 700;
        font-size: 38px;
        line-height: 48px;
    }


    .row-weather-app-temperature {
        .weather-app-temperature {
            font-size: 5em;
            font-weight: bold;
        }

        .weather-app-unit {
            margin-top: 10px;
            font-size: 2em;
        }
    }

    .row-weather-details {
        .weather-app-details {
            font-size: 1em;
            line-height: 24px;
            font-weight: 500;

            strong {
                color: $accent;

            }
        }
    }

    .weather-app-icon {
        font-size: 8em;

        img {
            width: 150px;
            height: auto;
        }
    }

    .forecast-row {
        background-color: $items;
        border-radius: 15px;
        padding: 10px;

        .weekly-forecast {
            margin-top: 10px;
            text-align: center;

            .daily-weather {
                font-size: 12px;
                border-right: 1px solid $surfaces;

                img{
                    width: 50px;
                    height: auto;
                }

                .max-temp{
                    font-weight: bold;
                }

                .min-temp{
                    opacity: 0.5;
                    font-weight: lighter;
                }

                &:last-child {
                    border: none;
                }
            }
        }
    }
}

footer {
    margin-top: 30px;
    border-top: 1px solid $items;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 12px;
}